@import './variables';

@mixin hit-cell {
  content: '✖';
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin buttons-style {
  appearance: none;
  border: none;
  outline: none;
  background-color: $the-darkest;
  color: $bg-color;
  padding: 6px;
  transition: all 0.1s ease;
  border: 1px solid $the-darkest;
}

body {
  position: relative;
}
#main {
  width: 100%;
  display: flex;
  align-items: center;
  flex: 1;

  .main-block {
    display: flex;
    align-items: center;
    flex: 1;
    // height: 100%;
    width: 100%;

    .board {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 32px;
      gap: 8px;
      // flex: 1;

      &__grid {
        position: relative;
        border: 1px solid $the-darkest;
        background-color: $the-darkest;
        height: 300px;
        width: 300px;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        gap: 1px;

        .cell {
          background-color: $bg-color;
          position: relative;
          transition: all 0.1s ease;
          text-align: center;
        }
        .cell-hover {
          background-color: $light-gray;
        }

        .missed {
          &::after {
            content: '•';
            font-size: 26px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          &:hover {
            background-color: $bg-color !important;
          }
        }

        .hit {
          background-color: $light-gray;
          &::after {
            @include hit-cell();
          }

          &:hover {
            background-color: $light-gray !important;
          }
        }

        .hit-player {
          &::after {
            @include hit-cell();
          }
        }

        .disable-grid {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 6;
          pointer-events: none;
        }
      }
    }
  }

  .main-block.player {
    justify-content: flex-end;

    .controls {
      align-self: center;
      // flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;
      gap: 16px;
      padding: 32px 8px;

      .port {
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 100%;

        .dock {
          position: relative;
          border: 1px dotted $the-darkest;
          display: flex;
          justify-content: flex-end;

          &::after {
            content: attr(data-amount);
            position: absolute;
            right: -25px;
          }

          .ship-count {
            display: inline-block;
            pointer-events: none;
          }
        }

        .dock.d4 {
          height: 30px;
          width: 120px;
        }
        .dock.d3 {
          height: 30px;
          width: 90px;
        }
        .dock.d2 {
          height: 30px;
          width: 60px;
        }
        .dock.d1 {
          height: 30px;
          width: 30px;
        }
      }

      .buttons {
        display: flex;
        width: 100%;

        &-wrap {
          display: flex;
          flex-direction: column;
          gap: 8px;
          width: 100%;
        }
      }

      button {
        @include buttons-style();

        &:hover {
          background-color: $bg-color;

          color: $the-darkest;
          cursor: pointer;
        }
      }

      .disabled-button {
        cursor: not-allowed;
        background-color: $light-gray;
        border: 1px solid $light-gray;

        color: $bg-color;
      }

      .restart-button {
        position: absolute;
        visibility: hidden;
      }

      .enabled-button {
        position: static;
        visibility: visible;
      }
    }
  }
}

.main-block.computer {
  justify-content: flex-start;

  .board {
    &__grid {
      .cell {
        &:hover {
          cursor: pointer;
          background-color: $cell-hit-gray !important;
        }
      }
    }
  }
}

.ship {
  display: flex;
  position: absolute;
  z-index: 3;
  box-sizing: border-box;
  transform-origin: top left;
  transition: all 0.1s ease;

  &__cell {
    min-width: 30px;
    min-height: 30px;
    flex: 1;
    background-color: $transparent-gray;
    pointer-events: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.ship[data-ishorizontal='false'] {
  flex-direction: column;
}

.draggable-off {
  pointer-events: none !important;
}

.hide-element {
  display: none !important;
}

.game-over-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $transparent-gray;
  z-index: 90;
  transition: all 0.1s ease;
  opacity: 0;
  visibility: hidden;
}

.game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 99;
  background-color: $bg-color;
  min-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  transition: all 0.1s ease;
  opacity: 0;
  visibility: hidden;

  &__winner {
    font-size: 26px;
  }

  &__play-again {
    @include buttons-style();
    &:hover {
      background-color: $bg-color;

      color: $the-darkest;
      cursor: pointer;
    }
  }
}

.game-over-visible {
  opacity: 1;
  visibility: visible;
}
